.div01 {
	background-color:yellow;
	font-size:18px;
	width:500px;
	height:300px;
}

.div02 {
	background-color:yellow;
	font-size:18px;
	width:500px;
	height:300px;
}

.div03 {
	background-color:yellow;
	font-size:18px;
	width:500px;
	height:300px;
}